location /api/catalogue/ { proxy_pass http://${CATALOGUE_HOST}:8080/; }
location /api/cart/ { proxy_pass http://${CART_HOST}:8080/; }
location /api/ratings/ { proxy_pass http://${RATINGS_HOST}:80/; }
